In [1]:
a=10   #int
b=20   #int
print(a+b)

30

In [2]:
a=10
b="Rahul"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
f_name="Rahul"
l_name="Gandhi"

print(f_name+l_name)

RahulGandhi

In [4]:
a=10
b=20
print(a*b)

200

In [5]:
a=10
b="20"
print(a*b)

20202020202020202020

In [6]:
a=10
b=20.5
c=30
print(a*b)

205.0

In [7]:
a=10
b=20.5
c=30
print(a*b)
print(a*c)

205.0
300

In [8]:
a=10
b="Rahul"
c="Gandhi"
print(a*b) #"RahulRahulRahulRahulRahulRahulRahulRahulRahulRahul"
print(b*c) #TypeError

RahulRahulRahulRahulRahulRahulRahulRahulRahulRahul

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
a=20
b=10
print(a/b)

2.0

In [10]:
a=20
b=10
print(a//b)

2

In [11]:
print(10//2.3)

4.0

In [12]:
a=10
b=2
print(a**b)

100

In [13]:
sal = 45000
print(sal >=40000)

True

In [14]:
age = 24
print(age > 21)

True

In [15]:
sal = 45000
age = 24
print(sal >=40000 and age > 21)

True

In [18]:
#read emp salary and age from user/keyboard
sal = int(input("Enter Sal:"))
age = int(input("Enter Age:"))
print(sal >=40000 and age >= 21)

Enter Sal: 65000
Enter Age: 12

False

In [19]:
print(101 in [101,102,103,104])

True

In [23]:
enames=("Rahul","Sonai","Gandhi")

ename="Modi"
print(ename in enames)

False

In [25]:
str="102030abc"
l=[10,20,30,'a','b','c']
t=(10,20,30,'a','b','c')
s={10,20,30,'a','b','c'}
b=bytes([10,20,30])
ba=bytes([10,20,30])
r = range(11)

print(10 in l)
print(10 in t)
print(10 in s)
print(10 in b)
print(10 in ba )
print(10 in r )

True
True
True
True
True
True

In [27]:

a=10
b=10
print(id(a))
print(id(b))
print(a is b)

140714679814872
140714679814872
True