In [1]:
#what is typle?  - read only version of list
t1=()
t2=10,20,30
t3=tuple([10,20,30,40])
t4=(10,True,"Rahul",10,"Rahul",10)

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(t1)
print(t2)
print(t3)
print(t4)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
()
(10, 20, 30)
(10, 20, 30, 40)
(10, True, 'Rahul', 10, 'Rahul', 10)

In [2]:
enames=("Rahul","Sonia","Priya","Modi","Amith")

#how to read tuple elements - using index
print(enames[0])
print(enames[1])
print(enames[2])

Rahul
Sonia
Priya

In [3]:
enames=("Rahul","Sonia","Priya","Modi","Amith")
# iterate tuple object - using for loop and while 
for ename in enames:
    print(ename)

Rahul
Sonia
Priya
Modi
Amith

In [4]:
enames=("Rahul","Sonia","Priya","Modi","Amith")
# iterate tuple object - using for loop and while 
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priya
Modi
Amith

In [5]:
enames=("Rahul","Sonia","Priya","Modi","Amith")
# iterate tuple object - using for loop and while 
enames.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [13]:
t1 = (10,20)
t1.insert(1,10)

AttributeError: 'tuple' object has no attribute 'insert'